<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produtinhos</title>
</head>
<body>
    <div class="produtos">
        {%for produto in produtos%}
            <div class="produto">
                <h2>{{produto.nome}}</h2>
                <img src="{{produto.imagem}}" alt="produto {{produto.id}}">
                <p>Por apenas R${{produto.price}},00</p>

            </div>
        {%endfor%}
    </div>
</body>
</html>