<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produtinhos</title>
</head>
<body>
    <div class="produtos">
        {%for produto in produtos%}
            <div class="produto">
                <h2>{{produto.nome}}</h2>
                <img src="{{produto.imagem}}" alt="produto {{produto.id}}">
                <p>Por apenas R${{produto.price}},00</p>
                <a href="{{produto.id}}"><button>Mais Detalhes</button></a>

            </div>
        {%endfor%}
    </div>
    <form action="/add/" method="POST">
        <label for="product_name">Nome do Produto: </label>
        <input id="Nome" type="text" name="product_name" value="">
        <label for="product_image">Imagem: </label>
        <input id="Imagem" type="text" name="product_image" value="">
        <label for="product_price">Preço: </label>
        <input id="Preco" type="text" name="product_price" value="">
        <label for="product_description">Descrição: </label>
        <input id="Descricao" type="text" name="product_description" value="">

        <input type="submit" value="OK">
    </form>
</body>
</html>